*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 900px;
    height: 50px;
    background-color: yellow;
    border: 1px solid green;
}
.boton{
    width: 50px;
    height: 30px;
    border: 1px solid black;
    background-color: white;
    display: flex; 
    
}
.title{
    background-color: rgb(255, 174, 0);
    width: 900px;
    height: 50px;
    border: 1px solid green;
    text-align: center;
}
.cont{
    width: 900px;
    height: 300px;
    border: 1px solid green;
}
.historia{
    background-color: rgb(255, 174, 0);
    border: 1px solid green;
    width: 900px;
    height: 100px;
}

.calc_options{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    gap: 5px;
    align-items: center;
}

.calc_input{
    width: 50px;
    height: 30px;
    padding: 5px;
}

.resultados{
    margin-top: 10px;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
}

table{
    width: 100%;
}

#resultados{
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: gray;
    display: none;
}

.sum{
    border: 1px solid black;
    width: 200px;
    height: 100%;
    display: flex;
}
.caja{
    width: 500px;
    height: 100%;
    border: 1px solid black;
}

